* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid gray;
    padding: 20px;

    h1 {
        margin-bottom: 20px;
    }
}

.form_row {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    margin-top: 7px;
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_field_address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    textarea {
        height: 100px;
        resize: none;
        padding: 5px;
    }
}

form {
    input {
        height: 35px;
        padding: 0 5px;
    }

    input[type="submit"]{
        width: 100px;
        margin-top: 10px;
        background-color: transparent;
        border: 1px solid red;
        color: red;
        cursor: pointer;
    }
}